<% if @adcurve_tag.errors.any? %>
   <h2>Errors:</h2>
   <ul>
     <% @adcurve_tag.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
   </ul>
<% end %>


<%= form_for [:admin, @adcurve_tag] do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
<% end %>
